<!DOCTYPE HTML>
<!--
	Hielo by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>MIST CSE Thesis Archive</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
	</head>
	<body>

		<!-- Header -->
			<header id="header" class="alt">
				<!--<h1 align="center">MIST Thesis Archive</h1>-->
<!-- 			<a href="/signupfaculty" class="button special ">Sign up as Faculty</a>
			<a href="/signupstudent" class="button special ">Sign up as Student</a> -->
			<button onclick="openModal()" class="button special">Sign Up</button>

			<a href="/login" class="button special ">Log in</a>
				<a href="#menu">Menu</a>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="#">Home</a></li>
					<li><a href="/login">Log In</a></li>
				</ul>
			</nav>

		<!-- Banner -->
			<section class="banner full">
				<article>
					<img src="images/thbook.jpg" alt="" />
					<div class="inner">
						<header>
							<p><font size="6" color="white">MIST CSE Thesis Archive</font></p>
							<h3>Reduce the hassel of finding Thesis Book</h3>
							
						</header>
					</div>
				</article>
				<article>
					<img src="images/searching1.jpg" alt="" />
					<div class="inner">
						<header>
							<p><font size="6" color="white">MIST CSE Thesis Archive</font></p>
							<h3>Helps Searching Efficiently</h3>
						</header>
					</div>
				</article>
				<article>
					<img src="images/clock2.jpg"  alt="" />
					<div class="inner">
						<header>
							<p><font size="6" color="white">MIST CSE Thesis Archive</font></p>
							<h3>Time Saver</h3>
						</header>
					</div>
				</article>
				<article>
					<img src="images/search2.jpg"  alt="" />
					<div class="inner">
						<header>
							<p><font size="6" color="white">MIST CSE Thesis Archive</font></p>
							<h3>find a topic easily in PDF</h3>
						</header>
					</div>
				</article>
				<article>
					<img src="images/Do-your-research.jpg"  alt="" />
					<div class="inner">
						<header>
							<p><font size="6" color="white">MIST CSE Thesis Archive</font></p>
							<h3>Know the Loaction of desired book</h3>
						</header>
					</div>
				</article>
			</section>
			

		<!-- One -->
			
		<!-- Two -->
			<section id="two" class="wrapper style2">
				<div class="inner">
					<div class="box">
						<div class="content ">
							<header class="align-center">
								<p>Let's Get to know our Website</p>
								<h2>About us</h2>
							</header>
							<div id="main" class="container">
								<blockquote>Fringilla nisl. Donec accumsan interdum nisi, quis tincidunt felis sagittis eget tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan faucibus. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis.</blockquote>
							</div>
							<h2 align="center">Search Through our Website</h2>
							<input type="text" id="searchval" placeholder="Search" />
							<button onclick="search()" class="button special icon fa-search">Search</button>
						</div>
					</div>
				</div>
			</section>	
		
		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<ul class="icons">
						<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
					</ul>
				</div>
				<div class="copyright">
					&copy; Untitled. All rights reserved.
				</div>
			</footer>

		<!-- Scripts -->
			<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>