<!DOCTYPE HTML>
<!--
	Hielo by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>MIST CSE Thesis Archive</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
	</head>
	<body>

		<!-- Header -->
			<header id="header" class="alt">
				<!--<h1 align="center">MIST Thesis Archive</h1>-->
				<a href='/signupfaculty' class='button special'>Sign up as Faculty</a>
				<a href='/signupstudent' class='button special'>Sign up as Student</a>
				<a href="#menu">Menu</a>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="/">Home</a></li>
					<li><a href='/thesislist'>Thesis List</a></li>
					<li><a href="/login">Log In</a></li>
				</ul>
			</nav>

		<!-- Banner -->
			<section class="banner full">
				<article>
					<img src="images/thbook.jpg" alt="" />
					<div class="inner">
						<header>
							<p><font size="6" color="white">MIST CSE Thesis Archive</font></p>
							<h3>Reduce the hassel of finding Thesis Book</h3>
							
						</header>
					</div>
				</article>
				<article>
					<img src="images/searching1.jpg" alt="" />
					<div class="inner">
						<header>
							<p><font size="6" color="white">MIST CSE Thesis Archive</font></p>
							<h3>Helps Searching Efficiently</h3>
						</header>
					</div>
				</article>
				<article>
					<img src="images/clock2.jpg"  alt="" />
					<div class="inner">
						<header>
							<p><font size="6" color="white">MIST CSE Thesis Archive</font></p>
							<h3>Time Saver</h3>
						</header>
					</div>
				</article>
				<article>
					<img src="images/search2.jpg"  alt="" />
					<div class="inner">
						<header>
							<p><font size="6" color="white">MIST CSE Thesis Archive</font></p>
							<h3>find a topic easily in PDF</h3>
						</header>
					</div>
				</article>
				<article>
					<img src="images/Do-your-research.jpg"  alt="" />
					<div class="inner">
						<header>
							<p><font size="6" color="white">MIST CSE Thesis Archive</font></p>
							<h3>Know the Loaction of desired book</h3>
						</header>
					</div>
				</article>
			</section>
			

		<!-- One -->
			
		<!-- Two -->
			<section id="two" class="wrapper style2">
				<div class="inner">
					<div class="box">
						<div class="content ">
							<header class="align-center">
								<p style="color: #000">Let's Get to know our Website</p>
								<h2>About us</h2>
							</header>
							<div id="main" >
								<blockquote><strong style="color: #641E16  ">MIST Thesis Archieve is a platform that holds all the theses and research items 
done by MIST students and teachers and provides free access to these theses 
and research information without any barrier to scientific community.Our goal 
is to help the students and the autority by providing them a better thesis 
management system where they can find any information about thesis without
any hassle and in an organized way.This system also acts as a communication 
media between ongoing thesis students and their supervisors about their thesis.
So it can be said we are here with a complete system to satisfy your needs about 
thesis !</strong></blockquote>
							</div>
							<h2 align="center">Search Through our Website</h2>
							<input type="text" id="searchval" placeholder="Search" />
							<button onclick="search()" class="button special icon fa-search">Search</button>
						</div>
					</div>
				</div>
			</section>	
		
		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<font color="#fff">In order to provide any queries,comments or suggestions mail us here:</font>
					<ul class="icons">
						
						<li><a href="mailto:tamannahossaint@example.com?Subject=MIST%20CSE%20Thesis%20Archive" target="_top"" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
					</ul>
				</div>
				<div class="copyright">
					MIST CSE Thesis Archive &copy; 2018. All rights reserved.
				</div>
			</footer>

		<!-- Scripts -->
			<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>