<!DOCTYPE HTML>
<html>
	<head>
		<title>Issue Details</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
	</head>
	<body class="subpage">

		<!-- Header -->
			<header id="header">
				<div class="logo">MIST CSE Thesis Archive</div>
				<a href="#menu">Menu</a>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="/thesislist">Thesis List</a></li>
					<li><a href='/stat'>Thesis Statistics</a></li>
					<li><a href="/profile">Profile</a></li>
					<li><a href='/addthesis'>Add Thesis</a></li>
					<li><a href='/logout'>Log Out</a></li>
				</ul>
			</nav>

		<!-- One -->
			<section id="One" class="wrapper style3">
				<div class="inner">
					<header class="align-center">
						<h2 class="thesis_title">Issue Details</h2>
					</header>
				</div>
			</section>

		<!-- Two -->
			<section id="two" class="wrapper style2">
				<div class="inner">
					<div class="box">
						<div class="content ">
							<header class="align-center">
								<p>Title</p>
								<h2 class='title'>Thesis Issue List</h2>
							</header><br>

								<div class="table_wrapper">
									<table class="alt" style="color: black;border-color: black">
										<thead>
											
										</thead>
										<tbody class='issuewrapper'>
											<tr>
												
												<td width="300px"><strong>Thesis Title</strong></td>
												<td width="170px"><strong>Book Code</strong></td>
												<td width="150px"><strong>Student ID</strong></td>
												<td width="170px"><strong>Issue Date</strong></td>
												<td><strong>Returned</strong></td>
												<td><strong>Returned Date</strong></td>
											</tr>
<!-- 										<tr>
												<td>Problems with machine lerning blah blah mkfvkfdnv kfmvkdjnv jdfnkdsj</td>
												<td>00999</td>
												<td>29.99</td>
												<td>29.99</td>
												<td><div class="6u 12u$(small)">
											<input type="checkbox" id="copy" name="copy">
											<label for="copy"></label>
										</div></td>
												<td><input type="date" name="Ret_date"></td>
											</tr> -->
										</tbody>

									</table>
								</div>

						<button class="button special issuebtn">Issue a new Thesis</a><br>


						<button style="background: #1E8449" class='button special submitbtn'>Submit</button>
						<button style="background: #B03A2E" class='button special cancelbtn'>Cancel</button>


						</div>
					</div>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<ul class="icons">
						<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
					</ul>
				</div>
				<div class="copyright">
					&copy; Untitled. All rights reserved.
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
			<script src="assets/js/main.js"></script>
			<script src="assets/js/issue.js"></script>

	</body>
</html>