<!DOCTYPE HTML>
<html>
	<head>
		<title>Faculty Profile</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
	</head>
	<body class="subpage">

		<!-- Header -->
			<header id="header">
				<div class="logo">MIST CSE Thesis Archive</div>
				<input type="text" name="query" id="query" value="" placeholder="Search" size="4" style="height:30px;width: 200px;display: inline-block;color: #ffe" />
					<button onclick="search()" class="button special small icon fa-search">Search</button>
				<a href="#menu">Menu</a>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="/thesislist">Thesis List</a></li>
					<li><a href='/stat'>Thesis Statistics</a></li>
					<li><a href='/mythesis'>My Supervised Complete Theses</a></li>
					<li><a href='/mycurthesis'>My Supervised Current Thesess</a></li>
					<li><a href='/logout'>Log Out</a></li>
				</ul>
			</nav>

		<!-- One -->
			<section id="One" class="wrapper style3">
				<div class="inner">
					<header class="align-center">
						<p>Profile</p>
						<h2 class="name">A M Shahed Hasan</h2>
					</header>
				</div>
			</section>

		<!-- Two -->
			<section id="two" class="wrapper style2">
				<div class="inner">
					<div class="box row">
						<div class='col-sm-3'>
							<img class='image fit propic' style="height: 300px; width: 300px; margin: 10px;" src='/images/profile.png'>
							<button class='button special picbtn'>Change</button>
							<form name='picform' enctype="multipart/form-data" action='/changefacultypropicpost' method='POST'>
								<input type='file' name='the-file' required>
								<input type='submit' value='Change Profile Picture'>
								<input type='hidden' name='id' value=''>
							</form>
							<button style="background: #B03A2E" class='button special cancelbtn2'>Cancel</button>
						</div>
						<div class='col-sm-9' style='margin: 5% 0'>
							<font size='3' color='black'><b>Name: </b></font>
							<input class='name2' type='text' value='' disabled><br>
							<font size='3' color='black'><b>Designation: </b></font>
							<input class='designation' type='text' value='' disabled><br>
							<font size='3' color='black'><b>University: </b></font>
							<input class='university' type='text' value='4' disabled><br>
							<font size='3' color='black'><b>Phone: </b></font>
							<input class='phone' type='text' value='01521498048' disabled><br>
							<font size='3' color='black'><b>Email ID: </b>
							</font><input class='email' type='text' value='amsh.himu@gmail.com' disabled><br>
							<button class='button special editbtn'>Edit</button>
							<button style="background: #1E8449" class='button special submitbtn'>Submit</button>
							<button style="background: #B03A2E" class='button special cancelbtn'>Cancel</button>
						</div>
					</div>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<font color="#fff">In order to provide any queries,comments or suggestions mail us here:</font>
					<ul class="icons">
						
						<li><a href="mailto:tamannahossaint@example.com?Subject=MIST%20CSE%20Thesis%20Archive" target="_top"" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
					</ul>
				</div>
				<div class="copyright">
					MIST CSE Thesis Archive &copy; 2018. All rights reserved.
				</div>
			</footer>
		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>
			<script src='assets/js/profilefaculty.js'></script>

	</body>
</html>