<!DOCTYPE HTML>
<!--
	Hielo by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Student Sign up</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<link rel="stylesheet" href="assets/css/second.css">
 		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
	</head>
	<body class="subpage">

		<!-- Header -->
			<header id="header">
				<div class="logo">MIST CSE Thesis Archive</div>
				<a href="#menu">Menu</a>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="/">Home</a></li>
					<li><a href="/login">Log In</a></li>
					<li><a href="/signupfaculty">Sign up as Faculty</a></li>
				</ul>
			</nav>

		<!-- One -->
			<section id="One" class="wrapper style3">
				<div class="inner">
					<header class="align-center">
						<font>Sign Up </font><p class="category"></p>
						<h2 class="thesis_title">Student</h2>
					</header>
				</div>
			</section>

		<!-- Two -->
			<section id="two" class="wrapper style3">
				<div class="inner">
														
			<div class='signup'>
				<input type="text" id="name" placeholder="Enter your full name"><br>
				<input type="number" id='id' placeholder="Enter your ID"><br>
				Status of the student: 
				<select id='stat'>
					<option value='yes'>Current</option>
					<option value='no'>Former</option>
				</select><br>
				<input type='number' id='yr' placeholder="Enter the year you passed in"><br>
				<input type="number" id='lvl' placeholder="Enter your current level"><br>
				<input type="text" id='phone' placeholder="Enter your contact no"><br>
				<input type='email' id='email' placeholder="Enter your Email ID"><br>
				<input type='password' id='pass' placeholder="Enter a Password of at least 5 length"><br>
				<input type='password' id='cpass' placeholder="Confirm Password"><br>
				<input type='submit' class='button special big' value='Sign up' onclick="sendForm()">
												
			</div>				
				</div>
										
			</section>

		

		<!-- Scripts -->
			<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>
			<script src="assets/js/signup.js"></script>

	</body>
</html>